<!DOCTYPE html>
<html>
    <head>
        <title>My Plants</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
    </head>
    <body>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>

        {% block content %}{% endblock %}


        <footer><div>
            Copyright 2020 @ makeschool.com
        </div></footer>

        <script src="/static/index.js"></script>
    </body>
</html>